* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.todo-title {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: rgb(66, 123, 123);
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    border: 2px solid;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 26px;
    color: white;
}

.btn-danger {
    background-color: red;
}

.btn-primary {
    background-color: rgb(66, 123, 123);
}

.column-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.bordered-block {
    border: 3px solid;
    border-radius: 10px;
}

body {
    height: 100vh;
    background-color: rgb(188, 238, 188);
}

.container {
    padding: 50px;
}

.options-label {
    font-size: 26px;
}

.todos-filter {
    font-size: 25px;
    padding: 5px 10px;
}

.todo-content-input {
    font-size: 24px;
}

.todo-list {
    padding: 20px;
    width: 60vmax;
}

.todo-item {
    white-space: pre-wrap;
    margin-top: 20px;
    border-color:#427b7b;
    font-size: 30px;
    padding: 20px;
}